@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

$Cyan: hsl(180, 66%, 49%);
$DarkViolet: hsl(257, 27%, 26%);

$Red: hsl(0, 87%, 67%);

$Gray: hsl(0, 0%, 75%);
$GrayishViolet: hsl(257, 7%, 63%);
$VeryDarkBlue: hsl(255, 11%, 22%);
$VeryDarkViolet: hsl(260, 8%, 14%);


@mixin header($fontsize) {
    font-size: $fontsize;
    color: $VeryDarkViolet;
    font-weight: 700;
}

@mixin bodyText($fontsize) {
    font-size: $fontsize;
    color: $GrayishViolet;
    font-weight: 500;
}

@mixin button() {
    background-color: $Cyan;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

header{
    nav{
        display: flex;
        justify-content: space-between;
        padding: 30px 20px;
        align-items: center;
        width: 100%;
        position: relative;
        .burger{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 30px;
            span{
                height: 3px;
                width: 100%;
                background-color: $DarkViolet;
            }
        }
        .links{
            width: 92%;
            position: absolute;
            top: 100%;
            border-radius: 10px;
            background-color: $VeryDarkViolet;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px;
            transform: translateY(-135%);
            transition: transform 500ms ease-in-out;
            .left{
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            .right{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .login{
                    border-top: 1px solid $DarkViolet;
                    padding-top: 30px;
                }
                .signUp{
                    @include button();
                    cursor: pointer;
                    transition: opacity 200ms ease-in-out;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: white;
                    font-weight: 700;
                }
            }
        }
        .links.show{
            transform: translateY(0);
        }
    }
}

.hero{
    width: 100%;
    height: max-content;
    padding-bottom: 150px;
    .hero-images{
        width: 140%;
        padding-left: 20px;
        img{
            width: 100%;
        }
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-inline: 40px;
        gap: 20px;
        
        .hero-content-header{
            @include header(50px);
            line-height: 60px
        }
        .hero-content-body{            
            @include bodyText(24px);
        }
        .hero-content-btn{
            background-color: $Cyan;
            width: max-content;
            padding: 10px 40px;
            border-radius: 30px;
            cursor: pointer;
            transition: opacity 200ms ease-in-out;
            &:hover{
                opacity: 0.7;
            }
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.url-shorter{
    width: 100%;
    height: max-content;
    background-color: $Gray;

    .url-shorter-container{
        width: 90%;
        margin-inline: auto;
        background-color: $DarkViolet;
        background-image: url(./images/bg-shorten-mobile.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 70%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 10px;
        transform: translateY(-50%);
        .url-shorter-input{
            width: 100%;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 5px;
            font-size: 20px;
            color: $Gray;
            padding-left: 20px;
        }
        label{
            display: none;
        }
        .url-shorter-input.bad-massege{
            border: 3px solid $Red;
            position: relative;
        }
        .url-shorter-input.bad-massege::placeholder{
            color: $Red;
        }
        .url-shorter-input.bad-massege + label{
            display: block;
            color: $Red;
            margin-top: -10px;
            font-weight: 500;
        }
        .url-shorter-btn{
            @include button();
            border: none;
            outline: none;
            border-radius: 5px;
            color: white;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            transition: opacity 200ms ease-in-out;
            &:hover{
                opacity: 0.7;
            }
        }
        
    }
    .shorted-urls-container{
        height: max-content;
        padding-block: 20px;
        margin-top: -80px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .shorted-url-container{
            width: 90%;
            margin-inline: auto;
            background-color: white;
            border-radius: 10px;
            .url{
                padding: 20px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .shorted-url{
                padding: 20px;
                color: $Cyan;
                font-weight: 500;
            }
            .copy-btn{
                margin-left: 20px;
                width: 90%;
                margin-bottom: 20px;
                padding: 10px;
                background-color: $Cyan;
                border: none;
                color: white;
                font-weight: 700;
                border-radius: 5px;
                cursor: pointer;
            }
            .copy-btn.copied{
                background-color: $DarkViolet;
            }
        }
    }
}


.advanced{
    width: 100%;
    min-height: 100vh;
    background-color: $Gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 80px;
    padding-inline: 30px;
    padding-bottom: 50px;
    .advanced-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .advanced-content-header{
            @include header(30px);
        }
        .advanced-content-body{
            @include bodyText(18px);
            line-height: 30px;
        }
    }
    .advanced-advances{
        display: flex;
        flex-direction: column;
        gap: 80px;
        align-items: center;
        position: relative;
        .card{
            width: 100%;
            padding: 30px;
            height: max-content;
            background-color: white;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            border-radius: 5px;
            z-index: 1;
            .card-image{
                width: 80px;
                height: 80px;
                border-radius: 100%;
                display: grid;
                place-items: center;
                background-color: $DarkViolet;
                margin-top: -70px;
            }
            .card-header{
                @include header(24px)
            }
            .card-body{
                @include bodyText(16px)
            }
        }
        &::after{
            content: '';
            background-color: $Cyan;
            width: 10px;
            height: 500px;
            position: absolute;
            top: 20%;
            z-index: 0;
        }
    }
}

.join{
    width: 100%;
    height: max-content;
    background-color: $DarkViolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-block: 100px;
    background-image: url(./images/bg-boost-mobile.svg);
    background-size: 100%;
    .join-header{
        @include header(30px);
        color: white;
    }
    .join-btn{
        background-color: $Cyan;
        width: max-content;
        padding: 10px 30px;
        border-radius: 30px;
        cursor: pointer;
        a{
            text-decoration: none;
            color: white;
        }
    }
}

footer{
    height: max-content;
    width: 100%;
    background-color: $VeryDarkViolet;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 30px;
    padding-block: 50px;
    .links{
        display: flex;
        flex-direction: column;
        gap: 30px;
        div{
            ul{
                display: grid;
                gap: 10px;
                li{
                    a{
                        text-decoration: none;
                        color: $GrayishViolet;
                        font-weight: 500;
                    }
                }
                .header{
                    margin-bottom: 10px;
                    a{
                        font-weight: 700;
                        color: white;

                    }
                }
            }
        }
    }
    .social-icons{
        display: flex;
        gap: 20px;
    }
}

li{
    list-style: none;
}


@media screen and (min-width:786px){
    header{
        padding-inline: 100px;
        nav{
            position: static;
            align-items: centere;
            .burger{
                display: none;
            }
            .links{
                width: 100%;
                transform: translateY(0);
                top: 0;
                position: static;
                flex-direction: row;
                background-color: transparent;
                align-items: center;
                justify-content: space-between;
                li{
                    a{
                        color: $Gray;
                        font-weight: white;
                    }
                }
                .left{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    flex-direction: row;
                }
                .right{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    flex-direction: row;
                    .signUp{
                        width: max-content;
                        padding: 10px 30px;
                        a{
                            color: white;
                        }
                    }
                    .login{
                        border: none;
                        padding: 0;
                    }
                }
            }
        }
    }
    .hero{
        display: flex;
        padding-left: 80px;
        flex-direction: row-reverse;
        .hero-images{
            width: 100%;
            margin-right: -50px;
        }
        .hero-content{
            width: 100%;
            text-align: start;
            align-items: flex-start;
            padding-top: 50px;
            .hero-content-header{
                font-size: 60px;
                line-height: 70px;
            }
        }
    }
    .url-shorter{
        .url-shorter-container{
            border-radius: 5px;
            width: 80%;
            background-image: url(./images/bg-shorten-desktop.svg);
            background-size: 100%;
            flex-direction: row;
            .url-shorter-btn{
                width: 20%;
            }
        }
        .shorted-urls-container{
            padding-block: 50px;
            gap: 20px;
            .shorted-url-container{
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20px;
                .shorted-url{
                    padding: 0;
                    margin-left: 40%;
                }
                .url{
                    padding: 0;
                }
                .copy-btn{
                    width: 10%;
                    margin: 0;
                }
            }
        }
    }
    .advanced{
        padding-inline: 100px;
        .advanced-advances{
            flex-direction: row;
            .card{
                text-align: start;
                align-items: flex-start;
            }
            .card:first-child{
                margin-top: -100px;
            }
            .card:last-child{
                margin-top: 100px;
            }
            &::after{
                top: 45%;
                width: 100%;
                height: 10px;
            }
        }
    }
    .join{
        background-image: url(./images/bg-boost-desktop.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        padding-block: 40px;
    }
    footer{
        grid-template-areas: 
            'logo links links links social-icons'
        ;
        align-items: flex-start;
        text-align: start;
        padding-inline: 100px;
        .links{
            grid-area: links;
            flex-direction: row;
            padding-bottom: 100px;
            margin-left: 20%;
        }
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: -20px;
    color: white;
}
.attribution a { color: hsl(228, 45%, 44%); }
